<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a routerLink="" class="navbar-brand">NetVids</a>
    <button type="button" class="navbar-toggler" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [class.collapse]="collapsed" (window:resize)="collapsed = true">
      <ul class="navbar-nav nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/movies">Movies</a>
        </li>
        <li class="nav-item" routerLinkActive="active" *ngIf="user?.role == 'ADMIN'">
          <a class="nav-link" routerLink="/admin">Admin portal</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <div class="nav-item dropdown" ngbDropdown #accountDropdown="ngbDropdown">
          <a class="nav-link dropdown-toggle" ngbDropdownToggle role="button">Welcome {{user?.firstname || 'user'}}</a>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
            <div class="d-grid px-3 gap-2" *ngIf="!user">
              <button type="button" class="btn btn-primary" routerLink="/login" (click)="accountDropdown.close()">
                Login
              </button>
              <button type="button" class="btn btn-outline-dark" routerLink="/register"
                      (click)="accountDropdown.close()">Sign up
              </button>
            </div>
            <div *ngIf="user">
              <li><a ngbDropdownItem role="button" class="dropdown-item" routerLink="orders">My orders</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a ngbDropdownItem role="button" class="dropdown-item" (click)="onLogout()">Logout</a></li>
            </div>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link" style="cursor: pointer;" routerLink="/cart">
            <fa-icon icon="shopping-cart" class="fa-fw"></fa-icon>
            <span class="rounded-pill badge bg-primary">{{ 0 || cartProducts.length}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
